LLM_PROVIDER=google
LOCAL_STORAGE_PATH=./outputs
ENVIRONMENT=development
GITHUB_TOKEN=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
INGEST_SERVICE_URL=http://ingest-service:8001
AUTH_SERVICE_URL=http://auth-service:8002
# SÓ COLAR AS CHAVES DE VOCÊS